*{margin: 0;padding: 0;}
a{text-decoration: none;}
a:hover {text-decoration: none;}
ul{list-style: none;}

.home{width: 100%;height: 700px;background:url(../images/home-bg.jpg);background-size:cover;overflow: hidden;}
.home-menu{width: 100%;height: 80px;margin:0 auto 0 auto;/*background: #1a1a1a;*/background:#82BC00;}
#navbtn{height:53px;border:solid 2px #fff;margin: 105px 0 0 400px ;float: left;cursor:pointer;
position: relative;opacity:0.0;/*定义一个叫moveleft的动画*/
animation: moveLeft 0.8s linear 0s 1 alternate;
/* Firefox: */
-moz-animation: moveLeft 0.8s linear 0s 1 alternate;
/* Safari 和 Chrome: */
-webkit-animation:moveLeft 0.8s linear 0s 1 alternate;
/* Opera: */
-o-animation: moveLeft 0.8s linear 0s 1 alternate;

animation-fill-mode: forwards;/*forwards 当动画完成后，保持最后一个属性值*/}
.nbp{width: 50px;height: 35px;margin:10px;margin-top: 13px;}
.solid{width: 50px;height: 4px;background: #fff;}
.glass{width: 50px;height: 6px;}
.home-menu-ul{width: 1000px;height: 80px;margin-left:-500px;position:absolute;left:50%;font-family: '微软雅黑';font-size: 25px;color: #fff;}
.home-menu-ul li{width: 200px;float: left;height:80px;line-height: 80px;text-align: center;}
.home-menu-ul li a{color:#fff;text-decoration:none;}
.home-menu-ul li:hover{background: #659102;}
.home-show{width: 1300px;height: 300px;margin:70px auto 0 auto;}
.home-show-video{width: 640px;height: 300px;margin-top:40px;float: left;background:#fff;}
.home-show-intro{width: 540px;height: 300px;margin-left:850px;float: left;
position: absolute;opacity:0.0;
animation: moveRight 0.8s linear 0s 1 alternate;
/* Firefox: */
-moz-animation: moveRight 0.8s linear 0s 1 alternate;
/* Safari 和 Chrome: */
-webkit-animation:moveRight 0.8s linear 0s 1 alternate;
/* Opera: */
-o-animation: moveRight 0.8s linear 0s 1 alternate;

animation-fill-mode: forwards;/*forwards 当动画完成后，保持最后一个属性值*/}
.home-show-intro h1{margin-top:20px;font-family: '微软雅黑';font-size: 23px;color: #fff;}
.home-show-intro h2{margin-top:20px;font-family: '微软雅黑';font-weight:lighter;line-height:50px;font-size: 30px;color: #fff;}
.contactme{width: 1000px;height: 200px;margin: 0 auto;}
.contactme a{color: #fff;text-decoration:none;}
.contactme a:link{text-decoration:none;}
.email{width: 200px;height: 50px;background:#82BC00;border-radius:5px;text-align: center;line-height: 50px;
color: #fff;font-family: '微软雅黑';font-size:20px;margin:120px auto 0 auto;display: block;cursor:pointer;
text-decoration: none;transition: background 1s;
position: relative;opacity:0.0;

animation: moveEmail 0.4s linear 0.8s 1 alternate;
/* Firefox: */
-moz-animation: moveEmail 0.4s linear 0.8s 1 alternate;
/* Safari 和 Chrome: */
-webkit-animation:moveEmail 0.4s linear 0.8s 1 alternate;
/* Opera: */
-o-animation: moveEmail 0.4s linear 0.8s 1 alternate;

animation-fill-mode: forwards;/*forwards 当动画完成后，保持最后一个属性值*/}
.email:hover{background: #fff;color:#82BC00;}
.nexts{width: 60px;height: 60px;margin:150px auto 0 auto;background:#fff;border-radius: 60px;font-size:40px;
color: #82BC00;text-align: center;padding-top: 13px;padding-left: 2px;cursor:pointer;transition: background 1s;
position: relative;opacity:0.0;

animation: moveNext 0.3s linear 1.2s 1 alternate;
/* Firefox: */
-moz-animation: moveNext 0.3s linear 1.2s 1 alternate;
/* Safari 和 Chrome: */
-webkit-animation:moveNext 0.3s linear 1.2s 1 alternate;
/* Opera: */
-o-animation: moveNext 0.3s linear 1.2s 1 alternate;

animation-fill-mode: forwards;/*forwards 当动画完成后，保持最后一个属性值*/}
.nexts a{color:#82BC00;}
.nexts a:hover{color:#fff;}
.nexts:hover{background: #82BC00;}

.spacing{width: 100%;height: 100px;}

.my-education{width: 100%;height: 800px;}
/*.my-education p{width: 1000px;height: 60px;margin-left: 0px;line-height:60px;font-size: 20px;font-family: '宋体';color: #000;
position: relative;

animation: moveCenter 0.8s linear 0s 1 alternate;

-moz-animation: moveCenter 0.8s linear 0s 1 alternate;

-webkit-animation:moveCenter 0.8s linear 0s 1 alternate;

-o-animation: moveCenter 0.8s linear 0s 1 alternate;

animation-fill-mode: forwards;
}*/
.tit-h1{width: 1000px;height: 100px;margin:0 auto 0 auto;font-family:'Arial';font-size: 70px;}
.tit-h2{width: 1000px;height: 100px;margin:0 auto 0 auto;font-family:'Arial';font-size: 70px;}
.carsl{width: 1000px;height: 450px;margin:0 auto;box-shadow: 6px 6px 5px #888888;}
.carsltext{width: 750px;height: 370px;padding-top:80px;margin:0 auto 0 auto;color:#fff;font-family: '微软雅黑';
font-size:20px;line-height: 44px;font-weight:590;}


.my-work{width: 100%;height:850px;color:#fff;margin:0 auto 0 auto;overflow:hidden;background: url(../images/mywork-bg2.jpg);background-size:cover; 
position: relative;}
.mwcontent{width: 1000px;height: 500px;border-left:solid 4px #fff;/*background: #ccc;*/margin:0 auto;}
.mwpoint{width: 40px;height: 40px;border-radius:40px;border:solid 4px #fff;background:#6A8DB3;
position: absolute;top:380px;left:50%;margin-left:-520px;}
.mwtext{width: 900px;height: 200px;margin-left:50px;border-radius: 10px;background:#fff;color:#000;
font-family: '微软雅黑';font-size:18px;padding:20px 10px 0 20px;}



.my-intro{width: 1000px;height: 750px;margin:0 auto 0 auto;}
.my-intro p{font-size: 20px;color: #000;line-height: 35px;font-family: '宋体';}
.introcontent{width: 1000px;height:350px;background:#f6f6f6;border:solid 1px #ccc;box-shadow: 6px 6px 5px #888888;
font-size:20px;}
.myphoto{width: 259px;height: 350px;float: left;background: url(../images/myphoto.jpg);}
.introtext{width: 700px;height: 300px;float: left;margin:25px 0 0 25px;font-family:'微软雅黑';
font-size:20px;line-height: 40px;}

.my-skill{width: 100%;height: 700px;margin:0 auto 0 auto;overflow:hidden;background:url(../images/gray.gif);color: #fff;
border-bottom:solid 1px #fff; }
.my-skill-items{width:1000px;height:200px;margin:40px auto 0 auto;}
.mk-items{width: 180px;height: 180px;border-radius: 100px;top: 10px;left: 10px; background: #3B4B5C;position:absolute;}
.mk-items h3{margin-top:50px;font-size:55px;color: #fff;font-weight:bolder;text-align: center;font-family: arial;}
.mk-items h4{font-size:20px;color:#82BC00;font-weight: lighter; text-transform:uppercase; font-family: arial;text-align: center;}

.contameModule{width:100%;height:180px;background: #28363F;}
.contactway{width: 1100px;height: 200px;margin:0 auto;}
.contactnum{width:550px;height:200px;float: left;}
.contactnum p{height: 35px;text-indent:130px;margin-top:15px;font-weight:bolder;font-size:22px;color:#82BC00;}
.contactnum li{width:220px;height: 35px;float:left;font-size:18px;color:#fff;}
.contacticon{width:550px;height:200px;float: left;}
.contacticon p{height: 35px;text-indent:150px;font-weight:bolder;margin-top:15px;font-size:26px;color:#fff;}
.contacticon li{float: left;width: 60px;height: 60px;border: solid 1px #fff;margin-left: 10px;cursor: pointer;
/*hover时的过渡效果*/
transition:background 0.7s;
-moz-transition:background 0.7s; /* Firefox 4 */
-webkit-transition:background 0.7s; /* Safari and Chrome */
-o-transition:background 0.7s; /* Opera */}
.contacticon li:hover{background:#3ba9f0; }
.contacticon li img{margin-top:17px;margin-left: 17px;}
.backTop{width: 60px;height: 60px;margin:150px auto 0 auto;background:#fff;font-size:40px;
color: #82BC00;text-align: center;padding-top:8px;padding-left: 2px;cursor:pointer;}
/*-----------------圆形百分比图--------------*/
.circle {
    width: 200px;
    height: 200px;  
    position: relative;
    float:left;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;margin-right: 50px;
}
.pie_left, .pie_right {
    width: 200px; 
    height: 200px;
    position: absolute;
    top: 0;left: 0;
}
.lefts, .rights {
    width:200px; 
    height:200px;
    background:#3B4B5C;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

}
.rights{
  /*  transform: rotate(30deg);*/
}
.pie_right, .rights {
    clip:rect(0,auto,auto,100px);
}
.pie_left, .lefts {
    clip:rect(0,100px,auto,0);
}
.theValue {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    background: white;
    position: absolute;
    text-align: center;
    line-height: 180px;
    font-size: 20px;
    color: #F64E58;;
}
/*--------------------------------------------*/

/*------------淡入动画-------------------*/
@keyframes moveLeft
{
0%{margin-left:400px;opacity:0.0; }/*从0开始到完成100%时的状态*/
100%{margin-left:550px;opacity:1.0;}
}

@-moz-keyframes moveLeft
{
0%{margin-left:400px;opacity:0.0; }
100%{margin-left:550px;opacity:1.0;}
}

@-webkit-keyframes moveLeft 
{
0%{margin-left:400px;opacity:0.0; }
100%{margin-left:-550px;opacity:1.0;}
}

@-o-keyframes moveLeft
{
0%{margin-left:400px;opacity:0.0; }
100%{margin-left:550px;opacity:1.0;}
}

@keyframes moveCenter
{
0%{left:0px;opacity:0.0; }
100%{left: 50%;margin-left:-500px;opacity:1.0;}
}

@-moz-keyframes moveCenter
{
0%{left:0px;opacity:0.0; }
100%{left: 50%;margin-left:-500px;opacity:1.0;}
}

@-webkit-keyframes moveCenter 
{
0%{left:0px;opacity:0.0; }
100%{left: 50%;margin-left:-500px;opacity:1.0;}
}

@-o-keyframes moveCenter
{
0%{left:0px;opacity:0.0; }
100%{left: 50%;margin-left:-500px;opacity:1.0;}
}

@keyframes moveRight
{
0%{margin-left:850px;opacity:0.0; }
100%{margin-left:750px;opacity:1.0;}
}

@-moz-keyframes moveRight
{
0%{margin-left:850px;opacity:0.0; }
100%{margin-left:750px;opacity:1.0;}
}

@-webkit-keyframes moveRight 
{
0%{margin-left:850px;opacity:0.0; }
100%{margin-left:750px;opacity:1.0;}
}

@-o-keyframes moveRight
{
0%{margin-left:850px;opacity:0.0; }
100%{margin-left:750px;opacity:1.0;}
}

@keyframes moveEmail
{
0%{margin-top:120px;opacity:0.0; }
100%{margin-top:20px;opacity:1.0;}
}

@-moz-keyframes moveEmail
{
0%{margin-top:120px;opacity:0.0; }
100%{margin-top:20px;opacity:1.0;}
}

@-webkit-keyframes moveEmail 
{
0%{margin-top:120px;opacity:0.0; }
100%{margin-top:20px;opacity:1.0;}
}

@-o-keyframes moveEmail
{
0%{margin-top:120px;opacity:0.0; }
100%{margin-top:20px;opacity:1.0;}
}

@keyframes moveNext
{
0%{margin-top:150px;opacity:0.0; }
100%{margin-top:50px;opacity:1.0;}
}

@-moz-keyframes moveNext
{
0%{margin-top:150px;opacity:0.0; }
100%{margin-top:50px;opacity:1.0;}
}

@-webkit-keyframes moveNext 
{
0%{margin-top:150px;opacity:0.0; }
100%{margin-top:50px;opacity:1.0;}
}

@-o-keyframes moveNext
{
0%{margin-top:150px;opacity:0.0; }
100%{margin-top:50px;opacity:1.0;}
}
